snippet sb "bulleted list" A
\section{$1}
    \begin{itemize}
        \item $2
    \end{itemize} $0
endsnippet

snippet it "italics"
\textit{$1}$0
endsnippet

snippet itm "itemize list"
\begin{itemize}
    \item
\end{itemize}
endsnippet

snippet enu "enumerate list"
\begin{enumerate}
    \item $1
\end{enumerate}
endsnippet

snippet i "new list item"
\item $1
endsnippet

snippet sec "new section"
\section{$1}
$0
endsnippet

snippet bf "bold font"
\textbf{$1}$0
endsnippet
